* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 20vw 60vw;
}

.sidebar {
    border-right: 1px solid #cecece;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

/* SIDEBAR HEADER */
.sidebar-header {
    border-bottom: 1px solid #cecece;
    padding-left: 16px;
    font-size: 28px;
    font-family: Roboto;
    padding-top: 16px;
    color: orange;
}


/* SIDEBAR CONTENT */
.sidebar-content {
    overflow: scroll;
    overflow-x: hidden;
    /* scrollbar-width: none; */
    padding-left: 16px;

}


.folder {
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
}


.folder-heading {
    font-size: 14px;
    font-weight: 600;
}

.new-folder {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;
}

.form {
    flex: 1;
}

.form-input {
    padding: 6px;
    border-radius: 5px;
    width: 200px;
    border-style: solid;
}


.icon-wrapper {
    margin-right: 12px;
    color: orange;
    font-size: 20px;
    font-weight: 400;
}


/* SIDEBAR FOOTER */
.sidebar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;

}

.dlt-btn {
    color: red;
    font-size: 16px;
    cursor: pointer;

}

.add-btn {
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* Notes List */

.notes-list {
    height: 100vh;
    border-right: 1px solid #cecece;
    display: grid;
    grid-template-rows: 10vh 90vh;
}

.folder-notes {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    padding-left: 24px;
}


.folder-item {
    border-bottom: 1px solid #cecece;
    padding: 16px 16px 16px 0px;
    cursor: pointer;
}

.folder-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes-search {
    border-bottom: 1px solid #cecece;
    
}



/* Notes Editor */

.notes-editor {
    height: 100vh;
    border-right: 1px solid #cecece;
    display: grid;
    grid-template-rows: 10vh 90vh;
}

.editor {
    border-bottom: 1px solid #cecece;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-tools {
    margin: 24px 26px;
}


.new-note {
    cursor: pointer;
}


.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}


.note {
    padding: 24px 26px;
}

.note-title {
    padding: 8px;
    margin-bottom: 8px;
    border-style: solid;
    border-radius: 5px;
    font-size: 24px;
}

 .note-title:focus, .note-content:focus {
    outline: none;
}

.note-content {
    height: 65vh;
    padding: 8px;
    resize: none;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 18px;
}


.new-note-btn {
 font-size: 20px;
 cursor: pointer;
 color: orange;
}


.submit-note-btn {
    align-self: flex-start;
    padding: 6px 8px;
    width: 60px;
    border-style: solid;
    border-radius: 5px;
    color: #cecece;
    background-color: black;
    cursor: pointer;
    border-width: 0px;
}