* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sidebar {
    width: 25%;
    border-right: 1px solid #cecece;
    padding-left: 16px;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

/* SIDEBAR HEADER */
.sidebar-header {
    /* border-bottom: 1px solid #cecece; */
    margin: auto 0px auto 0px;
    font-size: 28px;
    font-family: Roboto;
    color: orange;
}

/* SIDEBAR CONTENT */
.sidebar-content {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}


.folder {
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #cecece;

}

.folder-heading {
    font-size: 14px;
    font-weight: 600;
}

.new-folder {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;
}

.form {
    flex: 1;
}

.form-input {
    padding: 6px;
    border-radius: 5px;
    width: 280px;
    border-style: solid;
}


.icon-wrapper {
    margin-right: 12px;
    color: orange;
    font-size: 20px;
    font-weight: 400;
}


/* SIDEBAR FOOTER */
.sidebar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dlt-btn {
    color: red;
    font-size: 16px;
    cursor: pointer;

}

.add-btn {
    color: black;
    font-size: 16px;
    cursor: pointer;
}

